<div class="container">
  <div id="chartContainer" class="chartContainer">
  </div>
  <div style="margin-bottom: 10px;">
      <h5>Save stock details</h5>
      <form [formGroup]="priceSaveForm" ngNativeValidate>
          <div class="row">
              <div class="input-field col s6">
                  <input placeholder="Time is millis e.g. 1536189209598" id="date_time" type="number" class="validate" formControlName="time">
                  <label for="date_time">Time</label>
              </div>
              <div class="input-field col s6">
                  <input placeholder="Price in decimal e.g. 30.65" id="price" type="number" step="0.001" class="validate" formControlName="price">
                  <label for="price">Price</label>
              </div>
          </div>
      </form>
      <div class="buttons-holder">
          <button type="submit" (click)="saveStockDetails()" class="btn btn-success save-button blue lighten-2">
              Save
          </button>
      </div>
  </div>

  <div style="margin-top: 56px;">
      <h5>Update stock price</h5>
      <form [formGroup]="priceUpdateForm" ngNativeValidate>
          <div class="row">
              <div class="input-field col s6">
                  <input placeholder="Time is millis e.g. 1536189209598" id="date_time" type="number" class="validate" formControlName="time">
                  <label for="date_time">Time</label>
              </div>
              <div class="input-field col s6">
                  <input placeholder="Price in decimal e.g. 30.65" id="price" type="number" step="0.001" class="validate" formControlName="price">
                  <label for="price">Price</label>
              </div>
          </div>
      </form>
      <div class="buttons-holder">
          <button type="submit" class="btn btn-success save-button blue lighten-2" (click)="updateStockDetails()">
              Update
          </button>
      </div>
  </div>
  <div style="margin-top: 56px;">
      <h5>Delete stock</h5>
      <form [formGroup]="deleteStockForm" ngNativeValidate>
          <div class="row">
              <div class="input-field col s6">
                  <input placeholder="Time is millis e.g. 1536189209598" id="date_time" type="number" class="validate" formControlName="time">
                  <label for="date_time">Time</label>
              </div>
              <div class="input-field col s6">
                  <button type="submit" class="btn btn-success save-button red lighten-1" (click)="deleteStockDetails()">
                      Delete
                  </button>
              </div>
          </div>
      </form>
  </div>


  <div class="row">
      <div class="col m6">
          <input type="text" [(ngModel)]="movieId">

      </div>
      <div class="col m6 offset-s6">
          <button class="btn save-button blue lighten-2" style="margin: 10px;" (click)="getMovieEvents()">Subscribe</button>
          <button class="btn save-button blue lighten-2" (click)="closeObservable()">Unsubscribe</button>
      </div>
  </div>
</div>
<div *ngFor="let movieEvent of movieEvents" style="width: 300px;">

  <div *ngIf="movieEvent">
      <div>
          <label>Movie Name: </label> {{movieEvent.movieName}}
      </div>
      <div>
          <label>Genre: </label> {{movieEvent.movieGenre}}
      </div>
      <div>
          <label>Watching: </label> {{movieEvent.userName}}
      </div>

      <div>
          <label>When: </label> {{movieEvent.when}}
      </div>

      <hr/>
  </div>
</div>